<div class="container">
  <hr class="my-5 bg-white text-white">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-12">
      <div *ngIf="ngOnInit">
        <div class="text-center text-white">
          <h4 class="fw-bold mb-3">Lista de Músicas Salvas</h4>
        </div>
        <table class="table">
          <thead>
            <tr class="fw-bold text-white">
              <th scope="col"></th>
              <th scope="col">Data</th>
              <th scope="col">Nome da Música</th>
              <th scope="col">Categoria</th>
              <th scope="col">Cidade</th>
              <th scope="col">Temperatura</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of listSaves; let i = index" class="shz-partial-trackv5">
              <td class="shz-cell" scope="row">{{ i + 1 }}</td>
          <td class="shz-cell">{{ list.data }}</td>
          <td class="shz-cell">{{ list.title }}</td>
          <td class="shz-cell">{{ list.catg }}</td>
          <!-- <td class="shz-cell">{{ list.music.join(', ') }}</td> -->
          <td class="shz-cell">{{ list.city }}</td>
          <td class="shz-cell">{{ list.temp }}°C</td>
              <td><button (click)="deleteList(list.id)" class="btn btn-danger">Excluir</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

