.shz-partial-trackv5 {
  position: relative;
  padding: 15px 15px 15px 0;
  justify-content: space-between;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #f4f4f4;
}

.shz-partial-trackv5:hover {
  background: #f8f8f8;
}

.shz-partial-trackv5 .album-art {
  position: relative;
  background-size: contain;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  border: .5px solid #e4e4e4;
}

.shz-partial-trackv5 .img {
  position: relative;
  background-size: contain;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  border: .5px solid #e4e4e4;
}

