@import url('../node_modules/ngx-toastr/toastr.css');

body {
  background: -webkit-linear-gradient(61.56deg, #6c14cf 0, #cb208e 100%);
  background: -o-linear-gradient(61.56deg, #6c14cf 0, #cb208e 100%);
  background: linear-gradient(80deg, #6c14cf 0, #cb208e 100%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
